body {
  font-family: 'Amatic SC', Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: black;
  color: white;
  background: url('https://img.freepik.com/free-vector/color-seamless-space-pattern_102902-2360.jpg?w=900&t=st=1674757630~exp=1674758230~hmac=6335c3ce2be88ad8b27dfaffb7679f55fbe6fdcd1bdbf062d6a1602ae8af9840');
  font-size: larger;
}

.title {
  font-size: 66px;
  height: 47px;
  transition: 0.5s;
}

/* Start information Modal: */
.start-modal {
  border: 1px solid #757575;
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  box-shadow: 10px 10px 80px 0px rgba(165, 93, 206, 0.69);
  border-radius: 15px;
  margin: auto;
  width: 700px;
  height: 470px;
  margin-top: 10px;
}
.start-modal h3 {
  margin: 18px;
  margin-left: 73px;
  text-align: left;
}

/* Buttons: */
.btn {
  border: none;
  border-radius: 50%;
  padding: 12px;
  background-color: rgb(203, 243, 230);
  transition: 0.3s;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(149, 202, 184);
  font-size: 14px;
}
.freeze-btn {
  margin: auto;
  margin: 15px;
  padding: 14px;
}

/* Game Detalis: */
.game-details {
  background-color: #757575;
  opacity: 0.9;
  margin: auto;
  border: 1px solid black;
  border-radius: 15px;
  width: 530px;
  color: #bface2;
  font-size: larger;
  margin-bottom: 7px;
}

.score-msg {
  display: inline-block;
  margin-right: 25px;
}

.super-mode {
  display: inline-block;
  margin-left: 15px;
}
.super-shoot {
  display: inline;
  margin-left: 25px;
}

/* Board: */
table {
  margin: auto;
  border-collapse: collapse;
  opacity: 0.9;
}

.cell {
  /* border: 1px white solid; */
  width: 38px;
  height: 38px;
  background-color: rgb(108, 112, 116);
}
.earth {
  background-color: rgb(124, 32, 32);
}

/* Modal: */
.modal {
  background-color: rgb(235, 253, 208);
  border: 5px solid rgb(255, 255, 255);
  color: rgb(110, 110, 254);
  border-radius: 10px;
  width: 300px;
  padding: 20px;
  position: absolute;
  top: 300px;
  left: calc(50% - 175px);
  opacity: 1;
}

.modal .restart-btn {
  cursor: pointer;
  background-color: rgb(236, 197, 236);
  border: none;
  border-radius: 50%;
  padding: 11px;
  transition: 0.2s;
}

.modal .restart-btn:hover {
  background-color: rgb(210, 159, 210);
  font-size: 14px;
}

/* Footer: */
footer {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  position: absolute;
  top: 910px;
}

.hide {
  display: none;
}
