body {
  font-family: 'Amatic SC', Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: black;
  color: white;
  background: url(/imgs/space.jpg);
  font-size: larger;
}

.title {
  font-size: 58px;
}

.btn {
  border: none;
  border-radius: 50%;
  padding: 10px;
  background-color: rgb(203, 243, 230);
  transition: 0.5s;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(164, 216, 199);
}
.freeze-btn {
  display: block;
  margin: auto;
  margin-top: 10px;
}

table {
  margin: auto;
  border-collapse: collapse;
}

.cell {
  border: 1px white solid;
  width: 30px;
  height: 30px;
  background-color: rgb(0, 0, 0);
}
.earth {
  background-color: rgb(124, 32, 32);
}

.modal {
  background-color: rgb(235, 253, 208);
  border: 5px solid rgb(255, 255, 255);
  color: rgb(110, 110, 254);
  border-radius: 10px;
  width: 300px;
  padding: 20px;
  position: absolute;
  top: 300px;
  left: calc(50% - 175px);
}

.modal .restart-btn {
  cursor: pointer;
  background-color: rgb(236, 197, 236);
  border: none;
  border-radius: 50%;
  padding: 11px;
  transition: 0.2s;
}

.modal .restart-btn:hover {
  background-color: rgb(210, 159, 210);
  font-size: 14px;
}

.hide {
  display: none;
}
